In [36]:
import pandas as pd
import numpy as np

# read in csv file
df = pd.read_csv('mid_c.csv')

list(df.columns.values)

df2 = df[['Month','Peak']].groupby('Month')

df2.mean()

            Peak
Month
1      40.512857
2      42.960000
3      37.412143
4      35.833571
5      33.727857
6      30.403571
7      44.352143
8      46.379231
9      43.410769
10     44.111538
11     43.498462
12     50.871538

[12 rows x 1 columns]